[jvm]
	javaHome = /usr/lib/jvm/java-11-openjdk-amd64/
	javaOptions = -Xrunjdwp:transport=dt_socket,address=localhost:8788,server=y,suspend=n
	javaOptions = -XX:MaxGCPauseMillis=2000
	javaOptions = -Dlog4j2.configurationFile=file:/var/gerrit/etc/log4j2.xml
	javaOptions = -Dlog4j2.debug=true

[core]
	executors = 2
	pickOwnHostOnly = false
	delay = 0

[db]
	databaseUrl = jdbc:postgresql://172.23.0.2:5432
	databaseName = gc
	username = gc
	password = gc

[evaluation]
	repositoriesPath = /var/gerrit/git
