[gerrit]
	basePath = git
	canonicalWebUrl = http://localhost:8080/
	serverId = 82a37111-69df-47e5-ac72-1f791a4cc093
[index]
	type = LUCENE
[auth]
	type = http
	cookiedomain = localhost
	ogoutUrl = http://aa:aa@localhost:8080/logout
[sendemail]
	smtpServer = localhost
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = proxy-http://*:8080/
	requestLog = true
[cache]
	directory = cache
[container]
	user = gerrit
	javaOptions = "-Dflogger.backend_factory=com.google.common.flogger.backend.log4j.Log4jBackendFactory#getInstance"
  javaOptions = "-Dflogger.logging_context=com.google.gerrit.server.logging.LoggingContext#getInstance"
[plugins]
	allowRemoteAdmin = true
[download]
	scheme = http
	scheme = ssh
	scheme = anon_http
[receive]
	enableSignedPush = false
[plugin "gc-conductor"]
	databaseUrl = jdbc:postgresql://172.23.0.2:5432
	username = gc
	databaseName = gc
	packed = 40
	loose = 400
	expireTimeRecheck = 5m
